/02 - Object & Class/Latihan/nbproject/private/
/02 - Object & Class/Latihan/Mahasiswa/nbproject/private/
/02 - Object & Class/Latihan/Mahasiswa/build/
/02 - Object & Class/Latihan/Luas_Lingkaran/nbproject/private/
/02 - Object & Class/Latihan/Luas_Lingkaran/build/
/10 - Solid Pattern/Guided/GDNonSOLID_B_11407/nbproject/private/
/10 - Solid Pattern/Guided/GDSRP_B_11407/nbproject/private/
/10 - Solid Pattern/Guided/GDOLD_B_11407/nbproject/private/
/10 - Solid Pattern/Guided/GDISP_B_11407/nbproject/private/
/10 - Solid Pattern/Guided/GDNonSOLID_B_11407/build/
/10 - Solid Pattern/Guided/GDISP_B_11407/build/
/10 - Solid Pattern/Guided/GDOLD_B_11407/build/
/10 - Solid Pattern/Guided/GDSRP_B_11407/build/
/09 - Object Persistence 2/TGS10_B_11/build/
/09 - Object Persistence 2/TGS10_B_11/nbproject/private/
